<p *ngIf="!articles.length && !isLoading && !error">No articles here... yet.</p>

<p *ngIf="error">{{ error }}</p>

<ng-container>
  <div *ngFor="let article of articles; let i = index">
    <app-article-card [article]="article" *ngIf="i + 1 !== articles.length">
    </app-article-card>
    <app-article-card
      [article]="article"
      *ngIf="i + 1 === articles.length"
      #lastItem
    >
    </app-article-card>
  </div>

  <mat-spinner
    [ngStyle]="{ margin: '10px auto' }"
    *ngIf="isLoading"
    diameter="50"
    [e2e]="TestAttributes.LoadingSpinner"
  >
  </mat-spinner>
</ng-container>
