<div>
  <form [formGroup]="signupForm" (ngSubmit)="handleSignup()">
    <div class="form-group">
      <h2 [e2e]="TestAttributes.FormTitle">Sign Up</h2>
      <a routerLink="/sign-in" [e2e]="TestAttributes.SignInLink">
        Already have an account?
      </a>
      <div *ngIf="errors.length">
        <div
          class="form-error"
          *ngFor="let error of errors"
          [e2e]="TestAttributes.FormError"
        >
          {{ error }}
        </div>
      </div>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
        formControlName="username"
        placeholder="Username"
        [e2e]="TestAttributes.UsernameInput"
      />
      <span
        class="form-error"
        *ngIf="!checkIfValid('username')"
        [e2e]="TestAttributes.FormError"
      >
        This field is required
      </span>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        required
        formControlName="email"
        placeholder="Email"
        [e2e]="TestAttributes.EmailInput"
      />
      <span
        class="form-error"
        *ngIf="!checkIfValid('email') && !signupForm.get('email')?.value"
        [e2e]="TestAttributes.FormError"
      >
        This field is required
      </span>
      <span
        class="form-error"
        *ngIf="signupForm.get('email')?.errors?.['email']"
        [e2e]="TestAttributes.FormError"
      >
        Enter a valid email
      </span>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
        formControlName="password"
        placeholder="Password"
        [e2e]="TestAttributes.PasswordInput"
      />
      <span
        class="form-error"
        *ngIf="!checkIfValid('password')"
        [e2e]="TestAttributes.FormError"
      >
        Password must be at least 6 characters long
      </span>
      <button
        [disabled]="!signupForm.valid || isPending"
        align="end"
        type="submit"
        mat-raised-button
        color="primary"
        [e2e]="TestAttributes.SignUpBtn"
      >
        <span *ngIf="!isPending">Sign Up</span>
        <mat-spinner *ngIf="isPending" diameter="30"></mat-spinner>
      </button>
    </div>
  </form>
</div>
