<app-banner className="article-banner banner">
    <div class="banner-container">
        <mat-card-title class="title">{{article?.title}}</mat-card-title>
        <div class="banner-actions">
                <a routerLink="/user/{{article?.author?.username}}">
                    <img src="{{article?.author?.image}}" alt="">
                    <div>
                        <h3>{{article?.author?.username}}</h3>
                        <p>{{article?.createdAt | date}}</p>
                    </div>
                </a>
            <app-article-page-buttons 
                [authUser]="authUser" 
                [article]="article" 
                [slug]="slug"
                >
            </app-article-page-buttons>
        </div>
    </div>
</app-banner>
<app-article-body 
    [authUser]="authUser" 
    [slug]="slug" 
    [article]="article"
    >
</app-article-body>
<app-comment-form 
    [image]="authUser?.image || ''" 
    (commentEventEmmiter)="reuestComments()" 
    [slug]="slug"
    >
</app-comment-form>
<app-comments 
    [requestForComments$]="requestForComments$" 
    [authUser]="authUser" 
    [slug]="slug"
    >
</app-comments>
