<p *ngIf="!myArticles.length && !isLoading && !error.length">
    No articles are here... yet.
</p>
<p *ngIf="error.length">{{error}}</p>
<ng-container>
    <div *ngFor="let article of myArticles; let i = index">
        <app-article-list
            [article]="article" 
            *ngIf="i + 1 !== myArticles.length"
        >
        </app-article-list>
        <app-article-list 
            [article]="article" 
            *ngIf="i + 1 === myArticles.length" 
            #lastItem
        >
        </app-article-list>
    </div>
    <mat-spinner [ngStyle]="{'margin': '10px auto'}" *ngIf="isLoading" diameter="50"></mat-spinner>
    <div class="finished" *ngIf="isFinished">
        <div>No more articles for now...</div>
    </div>
</ng-container>