<mat-card-actions align="end">
    <button  (click)="editArticle(slug)" *ngIf="isAuthor" class="fave-btn"  mat-raised-button
        color="primary">
        Edit
    </button>
    <button (click)="deleteArticle(slug)" *ngIf="isAuthor" class="fave-btn" mat-raised-button
        color="primary">
       Delete
    </button>
    <button  *ngIf="!isAuthor" class="fave-btn" [disabled]="followingInProgress" (click)="handleFollowUnfollow(username)" mat-raised-button
        color="primary">
        {{isFollowed ? 'Unfollow' : 'Follow'}} {{username}}
    </button>
    <button *ngIf="!isAuthor" class="fave-btn" [disabled]="favoriteInProgress" (click)="handleLike(slug)" mat-raised-button
        color="primary">
        <mat-icon [color]="isLiked && 'warn'">favorite</mat-icon>
        Favorite Arcticle ({{likesCount}})
    </button>
</mat-card-actions>

