<app-banner 
    className="banner user-banner"
    data-angular="user-page-banner"
>
    <div>
        <img [src]="user?.image" alt="">
        <mat-card-title 
            class="title"
        >
            <h3>{{user?.username}}</h3>
        </mat-card-title>
        <mat-card-content 
            class="subtitle"
        >
            <p>{{user?.bio}}</p>
        </mat-card-content>
    </div>
    <div class="button-container">
        <button 
            *ngIf="isMyself" 
            mat-raised-button 
            color="primary"
            data-angular="update-button"
        >
            <a routerLink="/settings">Update Profile Settings</a>
        </button>
        <button 
            [disabled]="followingInProgress" 
            (click)="handleFollowUnfollow(user.username)" 
            *ngIf="!isMyself" 
            mat-raised-button 
            color="primary"
            data-angular="test-follow-button"
        >
            {{ isFollowed ? 'Unfollow' : 'Follow' }} {{user?.username}}
        </button>
    </div>
</app-banner>
<section>
    <mat-tab-group 
        (focusChange)="this.tabIndex = $event.index"
        [selectedIndex]="tabIndex"
    >
        <mat-tab label="My Articles">
            <app-my-articles 
                [tabIndex]="tabIndex" 
                [username]="urlUsername"
            >
            </app-my-articles>
        </mat-tab>
        <mat-tab label="Favorited Articles">
            <app-favorited-articles 
                [tabIndex]="tabIndex" 
                [username]="urlUsername"
            >
            </app-favorited-articles>
        </mat-tab>
    </mat-tab-group>
</section>