<div class="container">
  <!-- BANNER -->
  <app-user-page-banner></app-user-page-banner>

  <!-- ARTICLE TABS -->
  <section>
    <mat-tab-group
      (focusChange)="handleTabChange($event.index)"
      [selectedIndex]="tabIndex"
    >
      <mat-tab
        *ngFor="let label of ['My Articles', 'Favorited Articles']"
        [label]="label"
      >
        <app-article-list
          [tabIndex]="tabIndex"
          [e2e]="TestAttributes.ArticleList"
          [articles]="(store.articles$ | async) || []"
          [error]="error"
          [isLastPage]="currentPage === pagesTotalCount"
          [isLoading]="(isLoading$ | async) || false"
          [cb]="loadArticles.bind(this)"
        >
        </app-article-list>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
