<div class="full-screen-navbar-container">
  <a
    [class]="(url$ | async) === '/' ? 'selected' : ''"
    mat-button
    routerLink="/"
    [e2e]="TestAttributes.NavHomeLink"
  >
    Home
  </a>
  <a
    [class]="(url$ | async) === '/sign-in' ? 'selected' : ''"
    *ngIf="!(isAuthorized$ | async)"
    mat-button
    routerLink="/sign-in"
    [e2e]="TestAttributes.NavSignInLink"
  >
    Sign in
  </a>
  <a
    [class]="(url$ | async) === '/sign-up' ? 'selected' : ''"
    *ngIf="!(isAuthorized$ | async)"
    mat-button
    routerLink="/sign-up"
    [e2e]="TestAttributes.NavSignUpLink"
  >
    Sign up
  </a>
  <a
    [class]="(url$ | async) === '/create-article' ? 'selected' : ''"
    *ngIf="isAuthorized$ | async"
    mat-button
    routerLink="/create-article"
    [e2e]="TestAttributes.NavNewArticleLink"
  >
    New Article
  </a>
  <a
    [class]="(url$ | async) === '/settings' ? 'selected' : ''"
    *ngIf="isAuthorized$ | async"
    mat-button
    routerLink="/settings"
    [e2e]="TestAttributes.NavSettingsLink"
  >
    Settings
  </a>
  <a
    [class]="(url$ | async) === '/user/' + authUser.username ? 'selected' : ''"
    *ngIf="isAuthorized$ | async"
    mat-button
    routerLink="/user/{{authUser?.username}}"
    [e2e]="TestAttributes.NavUserPageLink"
  >
    {{ authUser?.username }}
    <img [src]="authUser?.image" alt="" />
  </a>
</div>

<div class="burger" #burger (click)="toggleMenu()">
  <mat-icon>{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
  <div [ngClass]="isMenuOpen ? 'open' : 'closed'">
    <a routerLink="/">Home</a>

    <a routerLink="/create-article" *ngIf="isAuthorized$ | async"
      >New Article</a
    >

    <a routerLink="/settings" *ngIf="isAuthorized$ | async">Settings</a>

    <a
      routerLink="/user/{{ authUser?.username }}"
      *ngIf="isAuthorized$ | async"
    >
      {{ authUser?.username }}
      <img [src]="authUser?.image" alt="" />
    </a>

    <a routerLink="/sign-in" *ngIf="!(isAuthorized$ | async)">Sign In</a>

    <a routerLink="/sign-up" *ngIf="!(isAuthorized$ | async)">Sign Up</a>
  </div>
</div>
