<div class="article-body-container">
  <div class="article-body" [e2e]="TestAttributes.ArticlePageBody">
    <p>{{ article?.body }}</p>
  </div>

  <mat-chip-list>
    <mat-chip
      class="tag"
      [e2e]="TestAttributes.Tag"
      *ngFor="let tag of article?.tagList"
      [value]="tag"
    >
      {{ tag }}
    </mat-chip>
  </mat-chip-list>

  <mat-divider class="devider"></mat-divider>
</div>
<div class="article-actions-container">
  <div class="article-author">
    <a [routerLink]="['/user/', article.author.username]">
      <img
        src="{{ article?.author?.image }}"
        alt=""
        [e2e]="TestAttributes.ArticlePageAuthorImg"
      />
      <div>
        <h3 [e2e]="TestAttributes.ArticlePageAuthorName">
          {{ article?.author?.username }}
        </h3>
        <p [e2e]="TestAttributes.ArticlePageDate">
          {{ article?.createdAt | date }}
        </p>
      </div>
    </a>
  </div>

  <div class="article-actions">
    <ng-container *ngIf="!isMyself">
      <app-like-button [isAuth]="isAuth" [article]="article"> </app-like-button>
      <app-follow-button
        [isAuth]="isAuth"
        [username]="article.author.username"
        [isFollowed]="article.author.following"
      >
      </app-follow-button>
    </ng-container>
    <ng-container *ngIf="isMyself">
      <app-delete-button [slug]="article.slug"> </app-delete-button>
      <app-edit-button [slug]="article.slug"></app-edit-button>
    </ng-container>
  </div>
</div>
