<div class="article-body-container">
    <div class="article-body">
        <p>{{article?.body}}</p>
    </div>
    <mat-chip-list>
        <mat-chip class="tag" *ngFor="let tag of article?.tagList" [value]="tag" disabled>
            {{tag}}
        </mat-chip>
    </mat-chip-list>
    <mat-divider class="devider"></mat-divider>
</div>
<div class="article-actions-container">
    <div class="article-author">
        <img src="{{article?.author?.image}}" alt="">
        <div>
            <h3>{{article?.author?.username}}</h3>
            <p>{{article?.createdAt | date}}</p>
        </div>
    </div>
    <div class="article-actions">
        <app-article-page-buttons [authUser]="authUser" [article]="article" [slug]="slug"></app-article-page-buttons>
    </div>
</div>