<div *ngIf="isAuth" class="container">
  <form
    [formGroup]="commentForm"
    (ngSubmit)="addComment()"
    [e2e]="TestAttributes.CommentForm"
  >
    <div class="form-group">
      <textarea
        type="text"
        class="form-control"
        id="body"
        name="body"
        required
        formControlName="body"
        placeholder="Write a comment..."
        [e2e]="TestAttributes.CommentTextarea"
      >
      </textarea>
      <div class="footer">
        <img [src]="image" />
        <!-- BUTTON FOR BIGGER SCREENS -->
        <button
          class="button"
          [disabled]="!commentForm.valid"
          type="submit"
          mat-stroked-button
          [e2e]="TestAttributes.CommentPostBtn"
        >
          <span>Add</span>
        </button>

        <!-- BUTTON FOR SMALLER SCREENS -->
        <button
          class="icon-button"
          [disabled]="!commentForm.valid"
          type="submit"
          mat-icon-button
          [e2e]="TestAttributes.CommentPostBtn"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
      <mat-progress-bar
        *ngIf="isLoading"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>
  </form>
</div>
