header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7rem;
    background-color: rgb(184, 207, 243);
    margin: 0 0 40px 0;
}

h1{
    font-weight: 900;
}