header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4rem;
  flex-wrap: wrap;
  width: 100%;
  background-color: #335c81;
  color: #fff;
}

h1 {
  font-weight: 900;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;
    padding: 20px;
  }
}
