.form-group {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 5rem auto;
    padding: 20px;
    h1{
        font-size: 2rem;
        align-self: center;
    }
    a{
        align-self: center;
        text-decoration: none;
        font-size: 1rem;
        margin-bottom: 1rem;
        color: blue;

    }
    .form-control {
        border: 1px solid rgb(175, 175, 175);
        border-radius: 8px;
        margin: 5px 0;
        height: 1.5rem;
        padding: 10px;
        font-size: 1rem;
        span {
            color: red;
        }
    }
    button {
        width: 40%;
        height: 3rem;
        align-self: end;
        font-size: 1rem;
        margin: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ng-invalid.ng-touched:not(form) {
        border-left: 5px solid #ff0400; /* red */
    }
    .ng-valid.ng-touched[required],
    .ng-valid.required {
        border-left: 5px solid #42a948; /* green */
    }
    .form-error{
        color: red;
    }
}
