<div class="container">
  <mat-card class="background-card">
    <form [formGroup]="articleForm" (ngSubmit)="handleArticleAction()">
      <div class="form-group">
        <div *ngIf="error" class="form-error" [e2e]="TestAttributes.FormError">
          {{ error }}
        </div>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
          formControlName="title"
          placeholder="Article Title"
          [e2e]="TestAttributes.ArticleTitleInput"
        />
        <span
          class="form-error"
          [e2e]="TestAttributes.FormError"
          *ngIf="!checkIfValid('title')"
        >
          This field is required
        </span>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          required
          formControlName="description"
          placeholder="What's this article about?"
          [e2e]="TestAttributes.ArticleDescriptionInput"
        />
        <span
          [e2e]="TestAttributes.FormError"
          *ngIf="!checkIfValid('description')"
          class="form-error"
        >
          This field is required
        </span>
        <textarea
          type="text"
          class="form-control"
          id="body"
          name="body"
          required
          formControlName="body"
          placeholder="Write your article"
          [e2e]="TestAttributes.ArticleBodyInput"
        >
        </textarea>
        <span
          [e2e]="TestAttributes.FormError"
          class="form-error"
          *ngIf="!checkIfValid('body')"
        >
          This field is required
        </span>
        <input
          type="text"
          class="form-control"
          id="image"
          name="image"
          formControlName="image"
          placeholder="Enter article image URL"
          [e2e]="TestAttributes.ArticleImageInput"
        />

        <div formArrayName="tagList">
          <div
            class="tag-input"
            *ngFor="let tag of tags; let i = index"
            [formGroupName]="i"
          >
            <input
              placeholder="tag"
              type="text"
              class="form-control"
              formControlName="tag"
              [e2e]="TestAttributes.ArticleTagListInput"
            />
            <div>
              <button
                *ngIf="i === tags.length - 1"
                class="tag-button"
                mat-icon-button
                type="button"
                (click)="onAddTag()"
                [e2e]="TestAttributes.AddTagInputBtn"
              >
                <mat-icon>add_circle_outline</mat-icon>
              </button>
              <button
                *ngIf="tags.length !== 1"
                class="tag-button"
                mat-icon-button
                type="button"
                (click)="onDeleteTag(i)"
                [e2e]="TestAttributes.DeleteTagInputBtn"
              >
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <button
          [disabled]="
            !articleForm.valid || (!this.articleForm.touched && !isEditMode)
          "
          type="submit"
          mat-flat-button
          color="primary"
          [e2e]="TestAttributes.PublishBtn"
        >
          Publish
        </button>
      </div>
      <mat-card-footer>
        <mat-progress-bar
          *ngIf="isLoading"
          mode="indeterminate"
        ></mat-progress-bar>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
