form {
  background-color: rgb(250, 250, 250);
  max-height: 70vh;
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 50%;
    max-height: 50vh;
    border-radius: 8px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form-control {
    border: 1px solid rgb(234, 230, 230);
    border-radius: 8px;
    margin: 5px 0;
    height: 1.5rem;
    padding: 10px;
    font-size: 1rem;
  }
  #title {
    height: 2.5rem;
    font-size: 1.3rem;
    &::placeholder {
      font-size: 1.3rem;
    }
  }
  #body {
    height: 8rem;
    resize: none;
    font-family: inherit;
  }
  button {
    align-self: end;
    font-size: 1rem;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    color: red;
  }
  .form-error {
    color: red;
  }
}
