.form-group {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 4rem auto;
  .form-control {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 8px;
    margin: 5px 0;
    height: 1.5rem;
    padding: 10px;
    font-size: 1rem;
  }
  #title {
    height: 2.5rem;
    font-size: 1.3rem;
    &::placeholder {
      font-size: 1.3rem;
    }
  }
  #body {
    height: 8rem;
    resize: none;
    font-family: inherit;
  }
  button {
    width: 12rem;
    height: 3rem;
    align-self: end;
    font-size: 1rem;
  }
  .ng-invalid.ng-touched:not(form) {
    border-left: 5px solid #ff0400; /* red */
  }
  .ng-valid.ng-touched[required],
  .ng-valid.required {
    border-left: 5px solid #42a948; /* green */
  }
  span {
    color: red;
  }
}
