<app-banner className="home-banner banner">
    <mat-card-title class="title">Real World</mat-card-title>
    <mat-card-content class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit</mat-card-content>
</app-banner>
<div class="container">
    <section>
        <mat-tab-group (focusChange)="handleChange($event.index)" [selectedIndex]="tabIndex">
            <mat-tab *ngIf="isAuthorized" label="Your Feed">
                <app-your-feed [tabIndex]="tabIndex"></app-your-feed>
            </mat-tab>
            <mat-tab label="Global Feed">
                <app-global-feed [tabIndex]="tabIndex"></app-global-feed>
            </mat-tab>
            <mat-tab *ngIf="selectedTag" label="#{{selectedTag}}">
                <app-tagged-articles [selectedTag]="selectedTag"></app-tagged-articles>
            </mat-tab>
        </mat-tab-group>
    </section>
    <app-tags [tabIndex]="tabIndex" (selectedTagEmmiter)="handleSelectTag($event)"></app-tags>
</div>