<mat-card-actions align="end">
    <button 
        (click)="redirectToEditArticle(slug)" 
        *ngIf="isAuthor" 
        class="fave-btn"  
        mat-raised-button
        color="primary"
        data-angular="test-edit-btn"
    >
        Edit
    </button>
    <button 
        (click)="deleteArticle(slug)" 
        *ngIf="isAuthor" 
        class="fave-btn" 
        mat-raised-button
        color="primary"
        data-angular="test-delete-btn"
    >
       Delete
    </button>
    <button 
        *ngIf="!isAuthor" 
        class="fave-btn" 
        [disabled]="followingInProgress" 
        (click)="handleFollowUnfollow(username)" 
        mat-raised-button
        color="primary"
        data-angular="test-follow-btn"
    >
        {{isFollowed ? 'Unfollow' : 'Follow'}} {{username}}
    </button>
    <button 
        *ngIf="!isAuthor" 
        class="fave-btn" 
        [disabled]="favoriteInProgress" 
        (click)="handleLikeDislike(slug)" 
        mat-raised-button
        color="primary"
        data-angular="test-like-btn"
    >
        <mat-icon [color]="isLiked && 'warn'">favorite</mat-icon>
        Favorite Arcticle ({{likesCount}})
    </button>
</mat-card-actions>

