.btn {
  margin: 0 5px;
}

.mat-card-actions {
  margin: 0;
}

.icon-buttons {
  display: none;
}

@media (max-width: 768px) {
  .btn {
    display: none;
  }
  .icon-buttons {
    display: block;
  }
}
