<mat-card-actions>
  <button
    class="btn"
    (click)="redirectToEditArticle(slug)"
    *ngIf="isAuthor"
    mat-flat-button
    color="primary"
    [e2e]="TestAttributes.ArticleEditBtn"
  >
    Edit
  </button>
  <button
    class="btn"
    (click)="deleteArticle(slug)"
    *ngIf="isAuthor"
    mat-flat-button
    color="primary"
    [e2e]="TestAttributes.ArticleDeleteBtn"
  >
    Delete
  </button>
  <button
    class="btn"
    *ngIf="!isAuthor"
    [disabled]="followingInProgress"
    (click)="isFollowed ? unfollow(username) : follow(username)"
    mat-flat-button
    color="primary"
    [e2e]="TestAttributes.ArticleFollowBtn"
  >
    {{ isFollowed ? "Unfollow" : "Follow" }} {{ username }}
  </button>
  <button
    class="btn"
    *ngIf="!isAuthor"
    [disabled]="favoriteInProgress"
    (click)="isLiked ? dislike(slug) : like(slug)"
    mat-flat-button
    color="primary"
    [e2e]="TestAttributes.ArticleLikeBtn"
  >
    <mat-icon
      [color]="isLiked && 'warn'"
      [e2e]="TestAttributes.ArticleLikeIcon"
    >
      favorite
    </mat-icon>
    Favorite Article ({{ likesCount }})
  </button>
  <div class="icon-buttons">
    <!-- BUTTONS FOR SMALLER SCREENS -->
    <button
      (click)="redirectToEditArticle(slug)"
      *ngIf="isAuthor"
      mat-icon-button
      [e2e]="TestAttributes.ArticleEditBtn"
    >
      <mat-icon>edit_note</mat-icon>
    </button>
    <button
      (click)="deleteArticle(slug)"
      *ngIf="isAuthor"
      mat-icon-button
      [e2e]="TestAttributes.ArticleDeleteBtn"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-icon-button
      [e2e]="TestAttributes.ArticleLikeIcon"
      *ngIf="!isAuthor"
      (click)="isLiked ? dislike(slug) : like(slug)"
      [disabled]="favoriteInProgress"
    >
      <mat-icon [color]="isLiked && 'warn'"> favorite </mat-icon>
      {{ likesCount }}
    </button>
    <button
      mat-icon-button
      *ngIf="!isAuthor"
      [disabled]="followingInProgress"
      (click)="isFollowed ? unfollow(username) : follow(username)"
      [e2e]="TestAttributes.ArticleFollowBtn"
    >
      <mat-icon *ngIf="!isFollowed">turned_in</mat-icon>
      <mat-icon *ngIf="isFollowed">bookmark_added</mat-icon>
    </button>
  </div>
</mat-card-actions>
