<section class="article-comments">
    <mat-card 
        class="comment" 
        *ngFor="let comment of comments"
        data-angular="comment"
    >
        <mat-card-content>
            <p>{{comment?.body}}</p>
        </mat-card-content>
        <mat-card-footer class="footer">
            <div>
                <img src="{{comment?.author?.image}}" alt="">
                <div>
                    <p>{{comment?.author?.username}}</p>
                    <p>{{comment?.createdAt | date}}</p>
                </div>
            </div>
            <mat-icon 
                (click)="deleteComment(comment.id)" 
                *ngIf="comment?.author?.username === authUser?.username"
                class="delete-icon"
                color="primary"
                data-angular="test-delete-icon"
            >
                <span *ngIf="!commentsBeingDeletedIds.includes(comment.id)">delete</span>
                <mat-spinner 
                    diameter="25" 
                    *ngIf="commentsBeingDeletedIds.includes(comment.id)"
                >
                </mat-spinner>
            </mat-icon>
        </mat-card-footer>
    </mat-card>
</section>