.article-comments {
  margin: 0 auto;
  max-width: 50%;
  .comment {
    margin: 10px 0;
    border: 0.5px solid rgb(211, 211, 211);
  }
  .footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    justify-content: space-between;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(141, 141, 141);
    }
    p {
      margin: 0;
    }
    img {
      border-radius: 50%;
      height: 30px;
      width: 30px;
      margin: 0 10px 0 0;
    }
    .delete-icon {
      align-self: center;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .article-comments {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}