<!-- BUTTONS FOR BIGGER SCREENS -->
<div class="button">
  <button
    mat-stroked-button
    *ngIf="store.isFollowed$ | async"
    (click)="unfollow()"
    [disabled]="store.isLoading$ | async"
    [e2e]="TestAttributes.ArticleFollowBtn"
  >
    Unfollow
    {{ username }}
  </button>

  <button
    mat-stroked-button
    *ngIf="!(store.isFollowed$ | async)"
    (click)="follow()"
    [disabled]="store.isLoading$ | async"
    [e2e]="TestAttributes.ArticleFollowBtn"
  >
    Follow
    {{ username }}
  </button>
</div>

<!-- BUTTONS FOR SMALLER SCREENS -->
<div class="icon-button">
  <button
    mat-icon-button
    *ngIf="store.isFollowed$ | async"
    [disabled]="store.isLoading$ | async"
    (click)="unfollow()"
  >
    <mat-icon>bookmark_added</mat-icon>
  </button>

  <button
    mat-icon-button
    *ngIf="!(store.isFollowed$ | async)"
    [disabled]="store.isLoading$ | async"
    (click)="follow()"
  >
    <mat-icon>turned_in</mat-icon>
  </button>
</div>
