.container {
  background-color: rgb(250, 250, 250);
  min-height: calc(100vh - 175px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 100px;
  .background-card {
    width: 50%;
    min-height: 40%;
    border-radius: 8px;
    padding: 20px;
    form {
      width: 100%;
      .form-group {
        display: flex;
        flex-direction: column;
        .form-control {
          border: 1px solid rgb(234, 230, 230);
          border-radius: 8px;
          margin: 6px 0;
          height: 1.5rem;
          padding: 10px;
          font-size: 0.9rem;
          font-weight: 300;
          font-family: inherit;
        }
        #bio {
          height: 8rem;
          resize: none;
          font-family: inherit;
        }
        .form-group-actions {
          display: flex;
          justify-content: end;
          margin: 8px 0;
          button {
            align-self: end;
            font-size: 1rem;
            margin: 10px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .form-error {
          color: red;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container .background-card {
    width: 100%;
  }
}
