div {
    text-align: center;
    height: 250px;
    img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 15px;
    }
}
.button-container {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: end;
    button {
        width: 190px;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}

section{
    width: 60%;
    margin: 0 auto;
}