<div>
    <form [formGroup]="signinForm" (ngSubmit)="handleSignin()">
        <div class="form-group">
            <h2 data-angular="form-title">Sign In</h2>
            <a
                routerLink="/sign-up"
                data-angular="sign-up-link"
            >
                Need an account?
            </a>
            <div *ngIf="errors.length">
                <div 
                    class="form-error" 
                    *ngFor="let error of errors"
                    data-angular="form-error"
                >
                    {{error}}  
                </div>
            </div>
            <input 
                type="text" 
                class="form-control" 
                id="email" 
                name="email" 
                required 
                formControlName="email"
                placeholder="Email"
            >
            <span 
                class="form-error" 
                *ngIf="!checkIfValid('email') && !signinForm.get('email')?.value"
                data-angular="form-error"
            >
                This field is required
            </span>
            <span 
                class="form-error" 
                *ngIf="signinForm.get('email')?.errors?.['email']"
                data-angular="form-error"
            >
                Enter a valid email
            </span>
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password" 
                required
                formControlName="password" 
                placeholder="Password"
            >
            <span 
                class="form-error" 
                *ngIf="!checkIfValid('password')"
                data-angular="form-error"
            >
                Password must be at least 6 characters long
            </span>
            <button
                [disabled]="!signinForm.valid || isPending" 
                align="end" 
                type="submit"
                mat-raised-button color="primary"
                data-angular="sign-in-button"
            >
                <span *ngIf="!isPending">Sign In</span>
                <mat-spinner *ngIf="isPending" diameter="30"></mat-spinner>
            </button>
        </div>
    </form>
</div>