<!-- BUTTONS FOR BIGGER SCREENS -->
<div class="button">
  <button
    mat-stroked-button
    *ngIf="store.isLiked$ | async"
    (click)="dislike()"
    [disabled]="store.isLoading$ | async"
    [e2e]="TestAttributes.ArticleLikeBtn"
  >
    Unfavorite
    {{ store.likesCount$ | async }}
    <mat-icon color="warn"> favorite </mat-icon>
  </button>

  <button
    mat-stroked-button
    *ngIf="!(store.isLiked$ | async)"
    (click)="like()"
    [disabled]="store.isLoading$ | async"
    [e2e]="TestAttributes.ArticleLikeBtn"
  >
    Favorite
    {{ store.likesCount$ | async }}
    <mat-icon> favorite </mat-icon>
  </button>
</div>

<!-- BUTTONS FOR SMALLER SCREENS -->
<div class="icon-button">
  <button
    mat-icon-button
    *ngIf="store.isLiked$ | async"
    (click)="dislike()"
    [disabled]="store.isLoading$ | async"
  >
    <mat-icon color="warn"> favorite </mat-icon>
    {{ store.likesCount$ | async }}
  </button>

  <button
    mat-icon-button
    *ngIf="!(store.isLiked$ | async)"
    (click)="like()"
    [disabled]="store.isLoading$ | async"
  >
    <mat-icon> favorite </mat-icon>
    {{ store.likesCount$ | async }}
  </button>
</div>
