.banner {
  min-height: 10rem;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  background-color: #6f8ec3;
  color: rgb(255, 255, 255);
}

.home-banner {
}

.article-banner {
}

.user-banner {
}
