<div class="container">
  <!-- HOME BANNER -->
  <app-banner
    className="home-banner banner"
    [e2e]="TestAttributes.HomePageBanner"
  >
    <mat-card-title class="banner-title"> Real World </mat-card-title>
    <mat-card-content class="banner-subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing elit
    </mat-card-content>
  </app-banner>

  <div class="articles-container">
    <!-- ARTICLES LIST -->
    <section>
      <mat-tab-group
        (focusChange)="handleTabChange($event.index)"
        [selectedIndex]="tabIndex"
      >
        <!-- YOUR FEED TAB -->
        <mat-tab *ngIf="isAuthorized" label="Your Feed">
          <ng-template [ngTemplateOutlet]="articleList"></ng-template>
        </mat-tab>

        <!-- GLOBAL FEED TAB -->
        <mat-tab label="Global Feed">
          <ng-template [ngTemplateOutlet]="articleList"></ng-template>
        </mat-tab>

        <!-- TAGGED ARTICLES TAB -->
        <mat-tab *ngIf="selectedTag" [label]="'#' + selectedTag">
          <ng-template [ngTemplateOutlet]="articleList"></ng-template>
        </mat-tab>
      </mat-tab-group>
    </section>

    <!--TAGS -->
    <app-tags
      [tabIndex]="tabIndex"
      (selectedTagEmmiter)="handleSelectTag($event)"
      [e2e]="TestAttributes.TagsContainer"
    >
    </app-tags>
  </div>
</div>

<ng-template #articleList>
  <app-article-list
    [isAuthorized]="isAuthorized"
    [tabIndex]="tabIndex"
    [selectedTag]="selectedTag"
    [e2e]="TestAttributes.ArticleList"
    [articles]="(store.articles$ | async) || []"
    [error]="error"
    [isLastPage]="currentPage === pagesTotalCount"
    [isLoading]="(isLoading$ | async) || false"
    [cb]="loadArticles.bind(this)"
  >
  </app-article-list>
</ng-template>
