// TODO: needs lots of fixing

.container {
   button {
      min-width: 150px;
      &[disabled] {
         background-color: rgba(91, 91, 216, 0.376);
      }
   }
   h3 {
      margin: 0;
   }
   margin: 0 auto 30px;
   width: 50%;
   .title {
      font-weight: 900;
      font-size: 3rem;
      margin-bottom: 1.3rem;
   }
   .subtitle {
      font-size: 1.2rem;
   }
   .article-body {
      p {
         font-size: 1rem;
         margin-bottom: 30px;
      }
   }
   .devider {
      margin: 30px 0;
   }
}

.card-actions {
   display: flex;
   justify-content: start;
   .card-author {
      display: flex;
      margin: 0 30px 0 0;
      img {
         border-radius: 50%;
         height: 30px;
         width: 30px;
         margin: 0 10px 0 0;
      }
   }
}

.article-comments {
   margin: 0 auto;
   max-width: 50%;
   .comment {
      margin: 10px 0;
      border: 0.5px solid rgb(211, 211, 211);
   }
   .footer {
      display: flex;
      flex-direction: row;
      background-color: rgb(238, 238, 238);
      padding: 10px;
      p {
         margin: 0;
      }
      img {
         border-radius: 50%;
         height: 30px;
         width: 30px;
         margin: 0 10px 0 0;
      }
   }
}

.card-actions-container {
   display: flex;
   justify-content: space-between;
   height: 3rem;
   margin: 0 auto;
   width: 50%;
   margin-bottom: 40px;
   .card-author {
      display: flex;
      h3 {
         margin: 0;
      }
      img {
         border-radius: 50%;
         height: 30px;
         width: 30px;
         margin: 0 10px 0 0;
      }
   }
}
