<app-banner className="article-banner banner">
    <div class="banner-container">
        <mat-card-title class="title">{{article?.title}}</mat-card-title>
        <div class="banner-actions">
                <a routerLink="/user/{{article.author.username}}">
                    <img src="{{article?.author?.image}}" alt="">
                    <div>
                        <h3>{{article?.author?.username}}</h3>
                        <p>{{article?.createdAt | date}}</p>
                    </div>
                </a>
            <app-article-page-buttons [authUser]="authUser" [article]="article" [slug]="slug"></app-article-page-buttons>
        </div>
    </div>
</app-banner>
<app-article-body [authUser]="authUser" [slug]="slug" [article]="article"></app-article-body>
<app-comment-form [image]="authUser?.image || ''" (commentEventEmmiter)="getComments()" [slug]="slug">
</app-comment-form>
<section class="article-comments">
    <mat-card class="comment" *ngFor="let comment of comments">
        <mat-card-content>
            <p>{{comment?.body}}</p>
        </mat-card-content>
        <mat-card-footer class="footer">
            <div>
                <img src="{{comment?.author?.image}}" alt="">
                <div>
                    <p>{{comment?.author?.username}}</p>
                    <p>{{comment?.createdAt | date}}</p>
                </div>
            </div>
            <mat-icon (click)="deleteComment(comment.id)" *ngIf="comment.author.username === authUser?.username"
                class="delete-icon">delete</mat-icon>
        </mat-card-footer>
    </mat-card>
</section>