<p *ngIf="!store.articles.length && store.loadedAllArticles && !store.error">
  No articles here... yet.
</p>

<p *ngIf="store.error$ | async as error">{{ error }}</p>

<ng-container>
  <div
    *ngFor="let article of store.articles$ | async as articles; let i = index"
  >
    <app-article-list [article]="article" *ngIf="i + 1 !== articles.length">
    </app-article-list>
    <app-article-list
      [article]="article"
      *ngIf="i + 1 === articles.length"
      #lastItem
    >
    </app-article-list>
  </div>

  <mat-spinner
    [ngStyle]="{ margin: '10px auto' }"
    *ngIf="store.isLoading$ | async"
    diameter="50"
    [e2e]="TestAttributes.LoadingSpinner"
  >
  </mat-spinner>

  <div
    class="finished"
    *ngIf="store.loadedAllArticles$ | async"
    [e2e]="TestAttributes.AllArticlesLoaded"
  >
    <div>No more articles for now...</div>
  </div>
</ng-container>
