<p *ngIf="!globalArticles.length && !isLoading">
    No articles are here... yet.
</p>
<ng-container>
    <div *ngFor="let article of globalArticles; let i = index">
        <app-article-list [article]="article" *ngIf="i + 1 !== globalArticles.length"></app-article-list>
        <app-article-list [article]="article" *ngIf="i + 1 === globalArticles.length" #lastItem>
        </app-article-list>
    </div>
    <mat-spinner [ngStyle]="{'margin': '10px auto'}" *ngIf="isLoading" diameter="50"></mat-spinner>
    <div class="finished" *ngIf="isFinished">
        <div>No more articles for now...</div>
    </div>
</ng-container>